{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جزییات محصول</title>
    <!-- css files -->
     <link rel="stylesheet" href="{% static 'content/css/details.css' %}">
     <!-- Bootstrap icon -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body id="detail-page">
    {% include 'nav/nav.html' %}
    <div class="detail">
        <div class="road-detail">
            <div class="detail-about">
               <h1>  {{advertisement.title}} </h1>
               <h3> {{advertisement.updated|timesince}} </h3>
               <div class="contact-detail">
                <div class="detail-Btn">
                    <button class="btn btn-outline-secondary w-100" >چت(درحال توسعه)</button>
                </div>
                <div class="social-icon">
                    {% if can_save == True %}
                    <a href="{% url 'save_advertisement' advertisement.id %}"> <img src="{% static 'content/images/icon/bookmark.png' %}" alt="" class="w-75"> </a>
                    {% else %}
                    <a href="{% url 'save_advertisement' advertisement.id %}"> <img src="{% static 'content/images/icon/save-instagram.png' %}" alt="" class="w-75"> </a>
                    {% endif %}
                </div>
               </div>
               <div class="detail-about-product">
                
               </div>
               <h1 id="undeline"></h1>
               <div>
                    <div class="status">
                        <h4>وضعیت </h4>
                        <h5> {{advertisement.get_status_display}} </h5>
                   </div>
               <h1 id="undeline"></h1>
               <div class="status">
                   <h4>مایل به معاوضه</h4>
                   {% if advertisement.wiling_excheng == True %}
                      <h5>بله</h5>
                  {% else %}
                      <h5>خیر</h5>
                  {% endif %}
                </div>
                <h1 id="undeline"></h1>
                <div class="status">
                    <h4>قیمت پایه</h4>
                    <h5>{{advertisement.price}} تومان {% if advertisement.fixed_price == True %}  (مقطوع)  {% endif %}</h5>
                </div>
                <h1 id="undeline"></h1>
               </div>
               <div class="description">
                <h2>توضیحات</h2>
                <p> {{advertisement.body|linebreaksbr}} </p>
            </div>
            </div>
            <div class="detail-img">
                <div class="img-product">
                  <img src="{{advertisement.image.url}}" alt="">
                </div>
                
                
                  <form action="" method="post">
                      {% csrf_token %}
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="یادداشت شما..." name="note" required></textarea>
      
                      <input type="submit" class="btn btn-outline-dark w-100 mt-1" value="ثبت">
                  </form>
                  <div class="card border-success p-3 mt-1">
                      <p> یادداشت شما :</p>
                      <p>{{note.note}}</p>
                    </div>
                <label for="">یادداشت تنها برای شما قابل دیدن است و پس از حذف آگهی، پاک خواهد شد.</label>
            </div>
        </div>
      </div>
</body>
</html>