{% extends 'accounts/base.html' %}

{% block link %} {% endblock %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="w-50 p-3 card" style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    ">
        <div>
            <h3 style="position: relative; bottom: -13px;">ورود به حساب کاربری</h3> 
            <br><hr>

            <h6>شمارهٔ موبایل خود را وارد کنید</h6>
            <br>
            <p>برای استفاده از امکانات دیوار، لطفاً شمارهٔ موبایل خود را وارد کنید. کد تأیید به این شماره پیامک خواهد شد.</p>
        </div>
        <form action="" method="post">
            {% csrf_token %}
    
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" style="border-radius: 0px 0px 0px 0px;" name="phone">
                <span class="input-group-text" style="border-radius: 10px 0px 1px 10px;">+98</span>

              </div>

              <br>

              <p> <a href="#" class="text-danger" style="text-decoration: none;">شرایط استفاده از خدمات</a> و <a href="#" class="text-danger" style="text-decoration: none;"> حریم خصوصی </a> دیوار را می‌پذیرم. </p>
              <br><hr>
              <div>
                <input type="submit" value="تأیید" class="btn btn-danger" style="width: 90px; float: left;">
               </div>
        </form>
        
    </div>

{% endblock %}