{% for advertisement in advertisements %}
<a href="{% url 'view_advertisement' advertisement.id %}">
  <div class="card mb-3 p-3 ml-5" style="max-width: 300px; display: inline-block; margin-top: 10px; direction: ltr;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{advertisement.image.url}}" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{advertisement.title|truncatewords:3}}</h5>
          <p class="card-text"> {{advertisement.get_status_display}} </p>
          <p class="card-text"> <small style="float: left;">تومان</small> {{advertisement.price}}  </p>
          <p class="card-text"><small class="text-body-secondary">{{advertisement.created|timesince}}</small></p>
        </div>
      </div>
    </div>
  </div></a>
{% endfor %}