  {% load static %}
  <!--* start footer -->
  <footer>
    <section class="footer-nemads">
      <ul>
        <li><a href="#"><img src="{% static 'content/images/footer/samandehi.png' %}" alt="ساماندهی"></a></li>
        <li><a href="#"><img src="{% static 'content/images/footer/etehadieh.png' %}" alt="اتحادیه"></a></li>
        <li><a href="#"><img src="{% static 'content/images/footer/enamad.png'%}" alt="نماد تجارت الکترونیک"></a></li>
      </ul>
    </section>
    <nav class="footer-social">
      <ul>
        <li><a href="#"><i title="آپارات" class="fa-solid fa-circle-radiation"></i></a></li>
        <li><a href="#"><i title="لینکدین" class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="#"><i title="اینستاگرام" class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i title="توییتر" class="fa-brands fa-twitter"></i></a></li>
      </ul>
    </nav>
  </footer>
  <!--* end fppter -->
