<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:230px; direction: ltr;">
                        <div class="ms-4 d-flex flex-column" style="width: 150px;">
                            <img src="{{user.avatar.url}}" alt="Generic placeholder image"
                                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                            <a href="{% url 'update_profile' user.user.id %}" type="button" class="btn btn-outline-light " data-mdb-ripple-color="dark"
                                style="z-index: 1;">
                                Edit profile
                            </a>
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            

                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1" style="text-align: left;">
                            <div style="margin-right: 18px; direction: rtl; text-align: right;" >
                                <p class="mb-1 h5">{{user.user.user_advertisement.count}}</p>
                                <p class="small text-muted mb-0" style="text-align: right;">تعداد آگهی ها</p>
                            </div>

                        </div>
                    </div>
                    <div class="card-body p-4 text-black">

                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">اطلاعات حساب</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p>
                                    شماره تلفن : {{user.user.phone}}
                                </p>
                            </div>

                            
                            <hr>
                            <p>آگهی ها:</p>
                            {% if advertisements %}
                                {% for i in user.user.user_advertisement.all %}
                                <a href="{% url 'detail_advertisement' i.slug %}">
                                    <div class="p-2 w-100" style="border: #000;">
                                        <div class="image " style="display: inline-block; width: 130px;">
                                            <img src="{{i.image.url}}" class="card-img" alt="..." style="width: 80px;">
                                        </div>
                                        <a href="{% url 'delete_advertisement' i.id %}" style="float: left;" class="btn btn-outline-secondary">حذف آگهی </a>
                                        <div class="cont" style="display: inline-block;">
                                            <h5 >{{i.title}}</h5>
                                        </div>
                                        <hr>
                                </a>
                                {% endfor %}
                            {% else %}
                                <p>در حال حاضر هیچ آگهی فعالی ندارید</p>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
